<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KungFuTea.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA73C29C1D20B35B00BF2BAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA73C2B51D20B35B00BF2BAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA73C2C01D20B35B00BF2BAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
